html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h3 {
  margin-top: 0;
}
